
.category-container{
    position: relative;
    top: -80px;
}


.category-cols{
    scrollbar-width: thin;
    scrollbar-color: #183d83 #97cede;
    scrollbar-gutter: stable both-edges;
    
}



.category-card{
    border-color: #55acee;
    min-height: 140px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 10px;
    background: #ffffff;
    border-radius: 5%;
    border-bottom: 2px solid #55acee;
    overflow: hidden;
}
.category-card img{
    height: 120px;
    width: 100%;
    object-fit: contain;
}

.category-card p{
    text-align: center;
    font-size: 11px;
    font-family: cursive;
}